# Adsense Analysis

Recuperamos do Google Analytics dois dataset que contém informações sobre a pesquisa, preço do anuncio que foi disparado, referencia geografica do usuario e estatisticas de conversão. Os datasets estão separados para tentar anonimizar o usuário final, então iremos unir-los e fazer analises em busca de entender o comportamento dos anuncios para uma região

In [94]:
import numpy as np
import pandas as pd

In [95]:
dataset = pd.read_csv('dataset.tsv', sep='\t')
dataset_lat_lng = pd.read_csv('dataset-lat-lng.tsv', sep='\t')

In [96]:
dataset.head()

,adMatchedQuery,date,users,sessions,sessionDuration,adCost,pageviews,pageviewsPerSession,timeOnPage,avgTimeOnPage,exits,pageLoadTime
0,drogasil jardim atlantico,20180412,0,0,0.0,0.30,0,0.0,0.0,0.0,0,0
1,drogasil jardim atlantico,20181009,0,0,0.0,0.30,0,0.0,0.0,0.0,0,0
2,drogasil jardim atlantico,20190129,1,1,28.0,0.30,3,3.0,27.0,13.5,1,0
3,drogasil jardim atlantico,20200129,0,0,0.0,0.24,0,0.0,0.0,0.0,0,0
4,drogasil jardim atlantico,20200222,0,0,0.0,0.27,0,0.0,0.0,0.0,0,0

In [97]:
dataset_lat_lng.head()

,adMatchedQuery,city,latitude,longitude,networkDomain,networkLocation,dateHourMinute,users
0,(not set),Sao Paulo,'-23.5505,'-46.6333,(not set),(not set),202009141052,1
1,(not set),Sao Paulo,'-23.5505,'-46.6333,(not set),(not set),202009141053,1
2,(not set),Sao Paulo,'-23.5505,'-46.6333,(not set),(not set),202010041458,1
3,(not set),Sao Paulo,'-23.5505,'-46.6333,(not set),(not set),202012070013,1
4,(not set),Sao Paulo,'-23.5505,'-46.6333,(not set),(not set),202101151632,1

Para unir os datasets usarremos como chaves primárias o termo que foi buscado, o dia que ocorreu e a quantidade de usuarios. Essa ultima chave é para tentarmos ter uma assertividade melhor na localização de um unico usuario ou um grupo.

In [98]:
# Convertendo datas em datetime

dataset.date = pd.to_datetime(dataset.date, format="%Y%m%d").dt.date
dataset_lat_lng['date'] = pd.to_datetime(dataset_lat_lng.dateHourMinute, format="%Y%m%d%H%M").dt.date

In [99]:
# Convertendo o adMatchedQuery para string, limpando acentos, espaços e valores vazios = "(not set)"

def handleWithAdMatchedQuery(adMatchedQuerySeries):
    adMatchedQuerySeries = adMatchedQuerySeries.astype('string')
    adMatchedQuerySeries = adMatchedQuerySeries.str.lower()
    adMatchedQuerySeries = adMatchedQuerySeries.str.strip()
    adMatchedQuerySeries = adMatchedQuerySeries.str.normalize('NFKD')